.banner {
    /* display: flex; */
    display: flex;
    width: max-content;
    align-items: flex-start;
    flex-direction: column;
    background-color: #E3867D;
    color: #962E2A;
    margin: 1em 9em 1em 8em;
    white-space: nowrap;
}

h1{
    font-size: 2em;
    font-weight:'bold';
    margin: 0.67em 0em 0em 0em
}

@media (max-width: 768px) {

    .banner{
        justify-content: center;
        align-items: center;
        /* display: block; */
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: auto;
        /* width: 100%; */
    }

    h1{
        font-size: 1.5em;
        margin-top: 0.67em;
    }

    /* .box{
        padding: 0;
    } */
}